<% provide(:title, 'Browse') %>

<div class="class_browse">
	<h1>Browse</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>




<div id="links">
    <a href="assets/Cityscapes.jpg" title="Banana" data-gallery>
        <img src="assets/Cityscapes.jpg" alt="Banana">
    </a>
    <a href="assets/Dubai_hotel.jpg" title="Apple" data-gallery>
        <img src="assets/Dubai_hotel.jpg" alt="Apple">
    </a>
    <a href="assets/Dubaj.jpg" title="Orange" data-gallery>
        <img src="assets/Dubaj.jpg" alt="Orange">
    </a>
</div>


<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>





</div>



