<% provide(:title, 'Help') %>

<div class="class_help">
	
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

<p>
	<%= link_to 'Home', root_path %>
</p>

<p>
	<%= link_to 'About', about_path %>
</p>

<p>
	<%= link_to 'Contact', contact_path %>
</p>

<p>
	<%= link_to 'Browse', browse_path %>
</p>
</div>