// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#about{
	padding-top: 70px;
	padding-bottom: 550px;
	text-align: center;
	background-color: #5a5a5a;
	p {
		margin: auto;
		color: black;
		width: 850px;

	}

}


#contact {
	padding-top: 70px;
	padding-bottom: 550px;
	text-align: center;
	background-color: #5a5a5a;
	p {
		color: black;
	}
}

.class_browse {
	padding-top: 50px;
	padding-bottom: 550px;
	text-align: center;
	background-color: #5a5a5a;
	p {
		color: black;
	}
}

.class_help {
	padding-top: 50px;
	padding-bottom: 550px;
	text-align: center;
	background-color: #5a5a5a;
	p {
		color: black;
	}
}